<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>timed</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="assets/main.css" />
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Code+Pro"
    />
    <script type="text/javascript" src="lib/theme.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <script>
      let theme = new Theme();
      theme.install();
      theme.start();
    </script>
    <div id="app">
      <main>
        <div id="wrapper">
          <div id="todo-add" @click="clickOnIcon">
            <i class="las la-plus" :style="iconStyle"></i>
          </div>
          <transition-group
            name="list"
            tag="div"
            id="todo-list"
            @before-leave="beforeLeave"
          >
            <todo-form
              v-if="isFormOpened"
              @request-todo-creation="addTodo"
            ></todo-form>
            <p v-if="!todos.length">No todos yet!</p>
            <todo-item
              v-else
              v-for="todo in sortedTodos"
              :key="todo.id"
              :todo="todo"
              @request-todo-deletion="deleteTodo"
            ></todo-item>
          </transition-group>
        </div>
      </main>
      <footer>
        <!-- TODO: add links -->
        <div>Contact me</div>
        <div>Credits</div>
      </footer>
    </div>
    <script>
      const STATUS_ORDER = ["active", "paused", "new", "done"];
      const TYPE_ORDER = ["timer", "text"];

      const TodoApp = {
        data() {
          return {
            appName: "timed",
            isFormOpened: false,
            priority: [
              ["status", STATUS_ORDER],
              ["type", TYPE_ORDER],
            ],
            iconStyle: "",
            todos: [],
          };
        },
        computed: {
          sortedTodos: function () {
            return [...this.todos].sort((a, b) => {
              let result = 0;

              for (let i = 0; i < this.priority.length; i++) {
                let prop = this.priority[i][0];
                result = this.sortByPriority(a, b, prop);
                if (result !== 0) {
                  break;
                }
              }
              return result;
            });
          },
        },
        beforeMount() {
          // reads from localStorage and deactivate all active timers
          if (localStorage.getItem("todos")) {
            this.todos =
              JSON.parse(localStorage.getItem("todos")).map((obj) => {
                if (obj.status === "active") {
                  return { ...obj, status: "paused" };
                }

                return obj;
              }) || [];
          } else {
            this.todos = [];
          }
        },
        watch: {
          todos: {
            handler(newValue, oldValue) {
              localStorage.setItem("todos", JSON.stringify(newValue));
            },
            deep: true,
          },
          isFormOpened(newVal) {
            this.iconStyle = newVal
              ? "transform: rotate(45deg); animation: rotate 0.5s"
              : "animation: rotateBack 0.5s";
          },
        },
        methods: {
          sortByPriority(a, b, prop) {
            let propOrder = this.priority.find((e) => e[0] === prop)[1];

            let pa = propOrder.indexOf(a[prop]);
            let pb = propOrder.indexOf(b[prop]);

            if (pa < pb) {
              return -1;
            }
            if (pa > pb) {
              return 1;
            }
            return 0;
          },
          // maxDuration only if type = timer
          addTodo(todoTitle, todoType, todoMaxDuration) {
            const todoId = this.todos.length
              ? Math.max(...this.todos.map((o) => o.id)) + 1
              : 0;
            const newTodo = {
              id: todoId,
              title: todoTitle,
              type: todoType,
              status: "new",
            };
            if (todoType === "timer") {
              newTodo.currentDuration = 0;
              newTodo.maxDuration = todoMaxDuration;
            }

            this.isFormOpened = false;
            this.todos.push(newTodo);
          },
          deleteTodo(todoId) {
            const index = this.todos.findIndex((todo) => {
              return todo.id === todoId;
            });
            this.todos.splice(index, 1);
          },
          beforeLeave(el) {
            const { marginLeft, marginTop, width, height } =
              window.getComputedStyle(el);
            el.style.left = `${el.offsetLeft - parseFloat(marginLeft, 10)}px`;
            el.style.top = `${el.offsetTop - parseFloat(marginTop, 10)}px`;
            el.style.width = width;
            el.style.height = height;
          },
          clickOnIcon() {
            this.isFormOpened = !this.isFormOpened;
            document.getElementById("todo-list").scrollTop = 0;
          },
        },
      };
      const app = Vue.createApp(TodoApp);

      app.component("todo-item", {
        /*html*/
        template: `
          <div
            class="todo-item"
            :class="{
            'done': todo.status === 'done',
            'active': todo.status === 'active',
            'animate-congrats': animateCongrats,
          }"
          >
            <i
              class="lar"
              :class="{
            'la-play-circle': todo.type === 'timer' && todo.status !== 'active',
            'la-pause-circle': todo.type === 'timer' && todo.status === 'active',
            'la-circle': todo.type === 'text' && todo.status === 'new',
            'la-check-circle' : todo.status === 'done',
          }"
              @click="todo.type === 'timer' ? (todo.status === 'active' ? pauseTimer() : startTimer()) : toggleStatus()"
            ></i>
            <span v-text='todo.title' class='todo-title'></span>
            <span v-if="todo.type === 'timer'" class='todo-left' v-text="timeString"></span>
            <i class='lar la-trash-alt' @click="$emit('requestTodoDeletion', todo.id)"></i>
          </div>
        `,
        name: "TodoItem",
        props: {
          todo: {
            type: Object,
            required: true,
            validator: function (obj) {
              if (
                obj.id !== undefined &&
                obj.title !== undefined &&
                obj.type !== undefined &&
                obj.status !== undefined
              ) {
                if (
                  TYPE_ORDER.includes(obj.type) &&
                  STATUS_ORDER.includes(obj.status)
                ) {
                  if (
                    obj.type === "timer" &&
                    obj.maxDuration !== undefined &&
                    obj.currentDuration !== undefined
                  ) {
                    return true;
                  }
                  if (
                    obj.type === "text" &&
                    obj.maxDuration === undefined &&
                    obj.currentDuration === undefined
                  ) {
                    return true;
                  }
                }
              }
              return false;
            },
          },
        },
        data() {
          return {
            timerId: null,
            animateCongrats: false,
          };
        },
        watch: {
          "todo.status"(newStatus) {
            if (newStatus === "active") {
              this.timerId = setInterval(() => {
                this.todo.currentDuration = this.todo.currentDuration + 1000;
              }, 1000);
            } else {
              clearInterval(this.timerId);
            }
          },
          "todo.currentDuration"(val) {
            if (val === this.todo.maxDuration) {
              clearInterval(this.timerId);
              this.animateCongrats = true;
              setTimeout(() => {
                this.todo.status = "done";
                this.animateCongrats = false;
              }, 1000);
            }
          },
        },
        computed: {
          timeString() {
            if (this.todo.type === "timer") {
              let milliseconds =
                this.todo.maxDuration - this.todo.currentDuration;
              let seconds = Math.floor(milliseconds / 1000);
              let minutes = Math.floor(seconds / 60);
              let hours = Math.floor(minutes / 60);

              seconds = seconds % 60;
              minutes = minutes % 60;
              hours = hours % 24;

              return `${this.padTo2Digits(hours)}:${this.padTo2Digits(
                minutes
              )}:${this.padTo2Digits(seconds)}`;
            }
            return null;
          },
        },
        methods: {
          padTo2Digits(num) {
            return num.toString().padStart(2, "0");
          },
          startTimer() {
            if (this.todo.status === "done") {
              this.todo.currentDuration = 0;
            }
            this.todo.status = "active";
          },
          pauseTimer() {
            this.todo.status = "paused";
          },
          toggleStatus() {
            this.todo.status === "done"
              ? (this.todo.status = "new")
              : (this.todo.status = "done");
          },
        },
      });

      app.component("todo-form", {
        /*html*/
        template: `
          <form class="todo-item" @submit.prevent="process">
            <i :class="['lar', inputType === 'timer' ? 'la-clock' : 'la-circle']"
              @click="inputType === 'timer' ? inputType = 'text' : inputType = 'timer'"
            ></i>
            <input v-model.trim="inputTitle" placeholder="Type your todo"  type="text" class='todo-title' ref="text" />
            <input v-if="inputType === 'timer'" class='todo-title' placeholder="and time in minutes" v-model.number="inputTime" type="text" inputmode="numeric">
            <button>
              <i
                class='lar la-save'
              ></i>
            </button>
          </form>
        `,
        name: "TodoForm",
        data() {
          return {
            inputType: "text",
            inputTitle: "",
            inputTime: null, //in minutes
          };
        },
        mounted() {
          this.focusOnTitle();
        },
        watch: {
          inputType(newType, oldValue) {
            this.focusOnTitle();
            if (newType === "time") {
              this.inputTime = 0;
            }
            if (newType === "text") {
              this.inputTime = null;
            }
          },
        },
        methods: {
          focusOnTitle() {
            this.$nextTick(() => this.$refs.text.focus());
          },
          process() {
            if (this.inputTitle === "") {
              return;
            }
            if (this.inputType === "timer") {
              if (
                this.inputTime == 0 ||
                this.inputTime === null ||
                this.inputTime === undefined
              ) {
                return;
              }
              this.$emit(
                "requestTodoCreation",
                this.inputTitle,
                this.inputType,
                this.inputTime * 60000 // convert to milliseconds;
              );
            } else {
              this.$emit(
                "requestTodoCreation",
                this.inputTitle,
                this.inputType
              );
            }
          },
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
