:root {
  --gap: 2em;
  --button-width: 4em;
  --frame-height: calc(100vh - var(--gap) * 4);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Code Pro', monospace;
  background-color: var(--background);
  color: var(--f_high);
  padding: 0em;
  margin: 0;
}
@media only screen and (max-width: 430px) {
  :root {
      --gap: 0.6em;
  }
}
@media only screen and (max-width: 600px) {
  :root {
      --gap: 1em;
      --frame-width: 100vw;
  }
}

@media only screen and (min-width: 600px) {
  :root {
      --frame-width: 85vw;
  }
}

@media only screen and (min-width: 992px) {
  :root {
      --frame-width: 55vw;
  }
}

