@import "base.css";

#wrapper {
  /* display: flex; */
  width: var(--frame-width);
  margin: var(--gap) auto;
}

#todo-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--gap);

  width: var(--frame-width);
  height: calc(var(--frame-height) - var(--button-width) / 2);

  margin: 0;
  padding: var(--gap) 0em;

  list-style-type: none;
  background-color: var(--b_low);

  overflow-y: scroll;
  /* Firefox Scrollbar */
  scrollbar-color: var(--b_high) var(--b_med);
  scrollbar-width: thin;
}

/* Chrome Scrollbar */
::-webkit-scrollbar {
  width: calc(var(--gap) / 4);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--b_med);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--b_high);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--b_high);
}

#todo-add {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--b_high);
  color: var(--f_high);
  width: var(--button-width);
  min-height: calc(var(--button-width) / 2);
  margin: 0;
}

#todo-add:hover {
  background-color: var(--b_med);
}

/* Todo Item */
.todo-item {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;

  width: calc(100% - var(--gap) * 2);
  min-width: 380px;
  /* min-height: var(--gap); */
  height: calc(1.5em + var(--gap));

  /* background: linear-gradient(0deg, var(--b_high), var(--b_inv)); */
  background-color: var(--b_med);
  color: var(--f_high);
  border: 1px solid var(--b_med);
  overflow-wrap: break-word;
}

.todo-item:hover {
  border: 1px solid var(--f_high);
}

.active {
  background-color: var(--b_high);
  border: 1px solid var(--b_high);
  color: var(--f_high);
}

.todo-item > .todo-title {
  flex-grow: 4;
}

.todo-item > button {
  border: none;
  background-color: inherit;
  color: inherit;
  margin: calc(var(--gap) / 2);
  padding: 0;
  font-size: 24px;
}

.todo-item > i {
  margin: calc(var(--gap) / 2);
}

i {
  font-size: 24px;
}

/* Done Todos */
.done {
  background: var(--b_med);
  color: var(--f_low);
  border: 1px solid var(--b_med);
}

.done > .todo-title {
  text-decoration: line-through;
}

footer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.75em;
  color: var(--f_low);
  width: var(--frame-width);
}

/* Trash can on hover */
.todo-item > :last-child {
  /* display: none; */
  visibility: hidden;
  margin-left: auto;
}

.todo-item:hover > :last-child {
  /* display: inline-block; */
  visibility: visible;
}

/* input */
input[type="text"] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  border: none;
  border-bottom: 1px solid var(--f_high);
  color: var(--f_high);
  background-color: var(--b_med);
  margin-right: 0.5em;
  min-width: 140px;
}
input[inputmode="numeric"] {
  min-width: 10ch;
}
input:placeholder-shown {
  border-bottom: 1px solid var(--f_low);
}

input::placeholder {
  color: var(--f_low);
}

input:focus {
  outline: none;
}

/* Transitions & animations */
.list-move {
  transition: transform 0.5s;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.25s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(var(--gap));
}

.list-leave-active {
  position: absolute;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(45deg);
  }
}

@keyframes rotateBack {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.animate-congrats {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
